<tagLib name="html" />
<include file="Public:header" />
<load href="__PUBLIC__/Js/WdatePicker/WdatePicker.js" />
<div id="main" class="main" >
<div class="content">
<div class="title">编辑数据 [ <A HREF="__URL__">返回列表</A> ]</div>
<FORM METHOD=POST id="form1" action="__URL__/edit?<?php echo time(); ?>" enctype="multipart/form-data">
<TABLE cellpadding=3 cellspacing=3>
<TR>
	<TD class="tRight" >标题：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeftRequire"  NAME="title" value="{$vo.title}"></TD>
</TR>
<script>
function flagchange(){
  var fname = $('#fid option:selected').text();
  $('#fname').val(fname);
}

//搜索会员
function get_members(){
  var key = jQuery("#key").val();
  jQuery.ajax({
    type:"POST",
	url: URL+"/get_members",
	data:"key="+key,
	success:function(msg){
	 var objs = eval('('+msg+')');
	 var html = '<select name="member_id" id="member_id"><option value="0">选择</option>';
	 for(i=0;i<objs.length;i++){
	   if(objs[i].utype==1){
	     var utype = '普通会员';
	   }else if(objs[i].utype==2){
	     var utype = '艺术家';
	   }else if(objs[i].utype==3){
	     var utype = '合作方';
	   }
	   if(i==0){
	     html += '<option value='+objs[i].id+' selected>'+utype+' | '+objs[i].username+' | '+objs[i].realname+'</option>';
	   }else{
	     html += '<option value='+objs[i].id+'>'+utype+' | '+objs[i].username+' | '+objs[i].realname+'</option>';
	   }
	 }
	 html += '</select>';
	 jQuery('#cidspan').html(html);
	}
  })
}
</script>
<TR>
	<TD class="tRight" >标签：</TD>
	<TD class="tLeft" >
	<SELECT NAME="fid" id="fid" onchange="flagchange();">
	<volist name="flags" id="flag">
	<OPTION value="{$flag.id}" <eq name="vo.fid" value="$flag.id">selected</eq>>{$flag.name}</OPTION>
	</volist>
	</SELECT>
	<INPUT TYPE="hidden" NAME="fname" id="fname" value="{$vo.fname}">
	</TD>
</TR>
<TR>
	<TD class="tRight">
		&nbsp;卖家：</TD>
	<TD  style="width:450px;">
		&nbsp;&nbsp;搜索：<input id="key" style="width:100px;"> <INPUT TYPE="button" value="搜索" class="button" onclick="get_members();">
		<span id="cidspan">
		<select name="member_id" id="member_id">
		  <option value="">选择</option>
		  <neq name="vo.member_id" value="">
		  <option value="{$vo.member_id}" selected>{$vo.member_name} | {$vo.realname}</option>
		  </neq>
		</select>
		</span>
	</TD>
</TR>
<TR>
	<TD class="tRight" >参与艺术品数量：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeftRequire"  NAME="p_num" value="{$vo.p_num}"></TD>
</TR>

<TR>
	<TD class="tRight" >
		开始时间：
	</TD>
	<TD class="tLeft">
		<input type="text" name="starttime" id="starttime" value="{$vo.starttime|toDate='Y-m-d H:i:s'}" onclick="WdatePicker();">
	</TD>
</TR>
<TR>
	<TD class="tRight" >
		结束时间：
	</TD>
	<TD class="tLeft">
		<input type="text" name="endtime" id="endtime" value="{$vo.endtime|toDate='Y-m-d H:i:s'}" onclick="WdatePicker();">
	</TD>
</TR>

<TR>
	<TD class="tRight">头图：</TD>
	<TD class="tLeft"><input type="file" onchange="yulan(this,'tu')" name="pic">
	<div id="tu"><img src="{$vo.pic}" width="300px;"></div>
	<font color="red">图片要求:为1100*480像素</font>
	</TD>
</TR>

<TR>
	<TD class="tRight">内页图：</TD>
	<TD class="tLeft"><input type="file" name="pic2">
	<div id="tu2"><img src="{$vo.pic2}" width="300px;"></div>
	<font color="red">图片要求:为1100*320像素</font>
	</TD>
</TR>

<TR>
	<TD class="tRight" >状态：</TD>
	<TD class="tLeft" >
	<SELECT class="small bLeft" NAME="status">
	  <option value="1"<eq name="vo.status" value="1">
	  selected = "selected"
	</eq>>启用</option>
	  <option value="0"<eq name="vo.status" value="0">
	  selected = "selected"
	</eq>>禁用</option>
	</SELECT>
	</TD>
</TR>

<TR>
	<TD class="tRight" >投票活动：</TD>
	<TD class="tLeft" >
	<SELECT NAME="type">
	  <option value="1" <eq name="vo.type" value="1">selected</eq>>拍卖</option>
	  <option value="2" <eq name="vo.type" value="2">selected</eq>>慈善</option>
	</SELECT>
	</TD>
</TR>

<TR>
	<TD class="tRight tTop">内 容：</TD>
	<TD class="tLeft"><font color="red">	<input type="button" onclick="window.open('__URL__/ajax_upimg/jsdo/insertnrjson/hash/{$hash}')" class="button" value="上传图片"><!--<input type="button" class="button" value="插入分页符" onclick="insertPage();">--></font></TD>
</TR>
<TR>
    <TD class="tRight tTop"></TD>
	<TD class="tLeft" colspan="2">
	<html:editor type="fckeditor"  id="content" name="content" width="650px" height="345px">{$vo.content}</html:editor>
	</TD>
</TR>

<TR>
	<TD ></TD>
	<TD class="center"><INPUT TYPE="hidden" name="id" value="{$vo[id]}" >
	<INPUT TYPE="submit" value="保 存" class="button" >
	</TD>
</TR>
</TABLE>
</FORM>
</div>
</div>
<!-- 主页面结束 -->
{// 加载尾部公共文件 }
<include file="Public:footer" /> 