
<load href ="__PUBLIC__/Css/style.css" />
<load href="__PUBLIC__/Js/jquery.js" />
<load href='__PUBLIC__/Js/artDialog/skins/chrome.css' />
<load href="__PUBLIC__/Js/artDialog/jquery.artDialog.js" />
<load href="__PUBLIC__/Js/artDialog/plugins/iframeTools.js" />

<script>

  function ajax_submit(){
	jQuery.ajax({
	  type:'POST',
	  url:'__URL__/edit',
	  data:$('#form1').serialize(),
	  success:function(html){
        /*jQuery.each(parent.art.dialog.dialogList, function (index, item) {
            item.close();
        });*/
	  }
	})
	return false;
  }

</script>
<div class="content">
<div class="title">晒单信息</div>
<FORM METHOD=POST id="form1" action="__URL__/edit" onsubmit="return ajax_submit();">
<TABLE cellpadding=3 cellspacing=3 class="add">
<TR>
	<TD class="tRight" >会员信息：</TD>
	<TD class="tLeft" >
	{$vo.member_name}
	</TD>
</TR>

<TR>
	<TD class="tRight" >晒单缩略图：</TD>
	<TD class="tLeft" >
	<img src="{$vo.pic}" width="100px;">
	</TD>
</TR>

<TR>
	<TD class="tRight" >状态：</TD>
	<TD class="tLeft" >
	<SELECT NAME="status">
		<OPTION VALUE="0" <eq name="vo.status" value="0">SELECTED</eq>>未通过</OPTION>
		<OPTION VALUE="1" <eq name="vo.status" value="1">SELECTED</eq>>通过</OPTION>
		<OPTION VALUE="-1" <eq name="vo.status" value="-1">SELECTED</eq>>驳回</OPTION>
	</SELECT>
	</TD>
</TR>

<TR>
	<TD ></TD>
	<TD>
	<INPUT TYPE="hidden" name="id" value="{$vo.id}" >
	<INPUT TYPE="submit" value="保 存" class="button" >
	</TD>
</TR>
</TABLE>
</FORM>
</div>
<!-- 主页面结束 -->