<include file="Public:header" />
<style>
/*查询结果框*/
.result-info2 {
	width: 580px;
	border: 1px solid #90bfff
}

.result-info2 td {
	padding: 10px;
	color: #878787;
	border-bottom: 1px solid #d8d8d8;
	background-color: #fbfbfb
}

.result-info2 .status {
	width: 30px;
	background: url("http://cdn.kuaidi100.com/images/ico_status.gif") -50px center no-repeat #fbfbfb
}

.result-info2 .status {
	width: 30px;
	background: url("http://cdn.kuaidi100.com/images/ico_status.gif") -50px center no-repeat #fbfbfb
}

.result-info2 .status-first {
	background: url("http://cdn.kuaidi100.com/images/ico_status.gif") 0px center no-repeat #fbfbfb
}

.result-info2 .status-check {
	background: url("http://cdn.kuaidi100.com/images/ico_status.gif") -150px center no-repeat #fbfbfb
}

.result-info2 .status-wait {
	background: url("http://cdn.kuaidi100.com/images/ico_status.gif") -100px center no-repeat #fbfbfb
}

.result-info2 .last td {
	color: #FF8c00;
	border-bottom: none;
	background-color: #ffffff
}

.result-info2 .row1 {
	width: 140px;
	text-align: right;
}
</style>
<div class="content">
<div class="title">物流修改[ <A HREF="__URL__">返回列表</A> ]</div>

<table id="queryResult2" class="result-info2" cellspacing="0">
   <tbody>
    <tr>
     <td class="row1">2015-08-19 22:42:52</td>
     <td class="status status-first">&nbsp;</td>
     <td>广东省深圳市布吉公司(点击查询电话) 已揽收</td>
    </tr>
    <tr>
     <td class="row1">2015-08-19 23:00:13</td>
     <td class="status">&nbsp;</td>
     <td>广东省深圳市布吉公司 已打包</td>
    </tr>
    <tr>
     <td class="row1">2015-08-19 23:27:32</td>
     <td class="status status-wait">&nbsp;</td>
     <td>广东省深圳市布吉公司 已发出</td>
    </tr>
    <tr>
     <td class="row1">2015-08-20 02:03:44</td>
     <td class="status">&nbsp;</td>
     <td>深圳转运中心 已收入</td>
    </tr>
    <tr>
     <td class="row1">2015-08-20 02:05:04</td>
     <td class="status">&nbsp;</td>
     <td>深圳转运中心 已发出</td>
    </tr>
    <tr>
     <td class="row1">2015-08-20 06:20:32</td>
     <td class="status">&nbsp;</td>
     <td>广州转运中心 已收入</td>
    </tr>
    <tr>
     <td class="row1">2015-08-20 06:21:39</td>
     <td class="status">&nbsp;</td>
     <td>广州转运中心 已发出</td>
    </tr>
    <tr>
     <td class="row1">2015-08-22 01:22:06</td>
     <td class="status">&nbsp;</td>
     <td>温州转运中心 已收入</td>
    </tr>
    <tr>
     <td class="row1">2015-08-22 03:24:46</td>
     <td class="status">&nbsp;</td>
     <td>温州转运中心 已发出</td>
    </tr>
    <tr>
     <td class="row1">2015-08-22 07:38:03</td>
     <td class="status">&nbsp;</td>
     <td>浙江省温州市鹿城区双屿公司 已收入</td>
    </tr>
    <tr>
     <td class="row1">2015-08-22 07:38:37</td>
     <td class="status">&nbsp;</td>
     <td>浙江省温州市鹿城区双屿公司 已发出</td>
    </tr>
    <tr>
     <td class="row1">2015-08-22 10:04:04</td>
     <td class="status">&nbsp;</td>
     <td>浙江省温州市国际鞋城公司 已收入</td>
    </tr>
    <tr>
     <td class="row1">2015-08-22 10:08:47</td>
     <td class="status">&nbsp;</td>
     <td>浙江省温州市国际鞋城公司(点击查询电话)派件人: 何科林 派件中 派件员电话<a target="_blank" href="/courier/detail_435E70420A24AB39B21435058A7D8D89.html">13738391824</a></td>
    </tr>
    <tr class="last">
     <td class="row1">2015-08-22 13:12:10</td>
     <td class="status status-check">&nbsp;</td>
     <td>客户 签收人: 前台 已签收</td>
    </tr>
   </tbody>
</table>


<include file="Public:footer" /> 