<tagLib name="html" />
<include file="Public:header" />
<script>
jQuery(function($) {
  $('#like_count').change(function(){
     check();
  });
  $('#favorite_count').change(function(){
     check();
  });
  $('#comment_count').change(function(){
     check();
  });
  $('#pv_count').change(function(){
     check();
  });
  function check(){
    var like_count = $('#like_count').val();
	var favorite_count = $('#favorite_count').val();
	var comment_count = $('#comment_count').val();
	var pv_count = $('#pv_count').val();
	//parseInt(7/2) 
    var qz = like_count*1+favorite_count*2+comment_count*3+parseInt(pv_count/100);
	$('#qz').val(qz);
	//alert(qz);
  }
}); 
</script>
<div id="main" class="main" >
<div class="content">
<div class="title">编辑数据 [ <A HREF="__URL__">返回列表</A> ]</div>
<FORM METHOD=POST id="form1"  action="__URL__/edit?<?php echo time(); ?>"  onsubmit="check();" enctype="multipart/form-data">
<TABLE cellpadding=3 cellspacing=3>

<TR>
	<TD class="tRight" >艺术品：</TD>
	<TD class="tLeft" >{$vo.name}</TD>
</TR>

<TR>
	<TD class="tRight" >赞：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="medium bLeftRequire" NAME="like_count"   ID="like_count" value="{$vo.like_count}">(1个赞权重+1)</TD>
</TR>

<TR>
	<TD class="tRight" >收藏：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="medium bLeftRequire" NAME="favorite_count"   ID="favorite_count" value="{$vo.favorite_count}">(1个收藏权重+2)</TD>
</TR>

<TR>
	<TD class="tRight" >点评：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="medium bLeftRequire" NAME="comment_count"   ID="comment_count" value="{$vo.comment_count}">(1个点评权重+3)</TD>
</TR>

<TR>
	<TD class="tRight" >流量：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="medium bLeftRequire" NAME="pv_count" ID="pv_count" value="{$vo.pv_count}">(100个流量权重+1)</TD>
</TR>

<TR>
	<TD class="tRight" >权重：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="medium bLeftRequire" NAME="qz"   ID="qz" value="{$vo.qz}">(数字越大搜索越排前)</TD>
</TR>



<TR>
  <TD>
  <INPUT TYPE="hidden" NAME="id" value="{$vo.id}">
  <INPUT TYPE="hidden" NAME="source"  value="{$vo.source}">
  <INPUT TYPE="hidden" NAME="sourceid"  value="{$vo.sourceid}">
  <INPUT TYPE="submit" value="保 存" class="button">
  </TD>
</TR>
</TABLE>
</FORM>
</div>
</div>
<!-- 主页面结束 -->
{// 加载尾部公共文件 }
<include file="Public:footer" /> 