<include file="Public:header" />
<script>
function getGroupUser(groupId){
  location.href='__URL__/userList/id/'+groupId;
}
</script>
<!-- 内容区 -->
<div class="content">
	<div class="site">
		{:C('site_name')} {$board_title} > {$node_title}
	</div>
	<span class="line_white"></span>
	<div class="goods mt10">
	  <FORM METHOD=get ACTION="__URL__">
	  <div class="guanli">
		<TABLE cellpadding="1" cellspacing="2" width="100%">
		<TR>
			<TD class="tRight">昵称：</TD>
			<TD><INPUT TYPE="text" NAME="nickname" class="small" value="{$nickname}"></TD>
			<TD>
			<input type="submit" value="提交" class="button_search">
			</TD>
		</TR>
		</TABLE>
	  </div>
	  </FORM>
	<dl class="mt10">
		<dd>
			<div class="login mt10" style="border: none;">
				<div class="panel datagrid easyui-fluid" style="width: 100%;">
				<div class="datagrid-wrap panel-body panel-body-noheader" title="" style="width: 99.8%;">
				<div class="datagrid-toolbar">
				<table cellspacing="0" cellpadding="0"><tbody>
				  <tr>
					<td>
					  <myhtml:imageBtn name="add" value="添加" click="add()" style="impBtn hMargin fLeft shadow" />
					</td>
					<td><div class="datagrid-btn-separator"></div></td>

				    <td>
					  <myhtml:imageBtn name="del" value="删除" click="foreverdel()" style="impBtn hMargin fLeft shadow" />
					</td>
					<td>
					<div class="datagrid-btn-separator"></div>
					</td>

				    <td>
					  <myhtml:imageBtn name="no" value="状态禁用" click="forbid()" style="impBtn hMargin fLeft shadow" />
					</td>
					<td>
					<div class="datagrid-btn-separator"></div>
					</td>

				    <td>
					  <myhtml:imageBtn name="ok" value="状态通过" click="resume()" style="impBtn hMargin fLeft shadow" />
					</td>
					<td>
					<div class="datagrid-btn-separator"></div>
					</td>

				</tr>
				</tbody>
			    </table>
				</div>

				  <div class="datagrid-view">
					<myhtml:list id="checkList" style="list" name="action" checkbox="true" action="true" datasource="list" show="id:编号|10%,name:组名:edit,pid|getGroupName:上级组,status|getStatus:状态,remark:描述" order_fields="id" actionlist="edit:编辑,status|showStatus=$action['id'],id|app|授权,id|user|用户列表" />
					<!--  分页显示区域 -->
					  <div class="datagrid-pager pagination">
					   <div class="page" style="float:left">{$page}</div>
					   <div class="pagination-info">
						共{$count}条记录
					   </div>
					   <div style="clear:both;"></div>
					  </div>
				  </div>
			
			<div class="clear"></div>
		</dd>
	</dl>
<!-- /内容区 -->
</div>
<include file="Public:footer" />  