<tagLib name="html" />
<include file="Public:header" />
<script>
 function showremark(){
   var obj = document.getElementById('remark');
   if(obj.style.display == "none"){
     obj.style.display = "block";
   }else{
     obj.style.display = "none";
   } 
 }
</script>

<div class="content">
<div class="title">新增微信API支付[ <A HREF="__URL__">返回列表</A> ]</div>
<TABLE cellpadding=3 cellspacing=3  class="add">
<FORM METHOD=POST id="form1" action="__URL__/add?<?php echo time(); ?>">
<TR>
	<TD colspan="2"><div id="result" class="result none"></div></TD>
</TR>
<TR>
	<TD class="tRight" >支付公司：</TD>
	<TD class="tLeft" >
	<select name="pay_name">
	 <option value="微信APP支付" selected >
	 微信APP支付</option>
	</select>
	<a href="__URL__/wx_add">切换到微信支付</a>
	<a href="__URL__/ali_add">切换到支付宝</a>
	</TD>
</TR>

<TR>
	<TD class="tRight" >账户昵称：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="medium bLeftRequire"  NAME="account_nickname" value="{$vo.account_nickname}">用以区别不同账号</TD>
</TR>

<TR>
	<TD class="tRight" >APPID：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeftRequire"  NAME="appid" value="{$vo.appid}"> 微信公众号身份的唯一标识</TD>
</TR>

<TR>
	<TD class="tRight" >MCHID：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeftRequire"  NAME="mchid" value="{$vo.mchid}"> 受理商ID，身份标识</TD>
</TR>

<TR>
	<TD class="tRight" >KEY：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeftRequire"  NAME="key" value="{$vo.key}"> 商户支付密钥Key</TD>
</TR>

<TR>
	<TD class="tRight" >APPSECRET：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeftRequire"  NAME="appsecret" value="{$vo.appsecret}"></TD>
</TR>

<TR>
	<TD class="tRight" >状态：</TD>
	<TD class="tLeft" >
	<SELECT class="small bLeft" NAME="status">
	  <option value="1">启用</option>
	  <option value="0">禁用</option>
	</SELECT>
	</TD>
</TR>

<TR>
	<TD ></TD>
	<TD class="center">
	<INPUT TYPE="submit" value="保 存" class="button">
	</TD>
</TR>
</TABLE>
</FORM>

<!-- 主页面结束 -->
{// 加载尾部公共文件 }
<include file="Public:footer" /> 