<include file="Public:header" />
<div class="content">
<div class="title">属性修改[ <A HREF="__URL__">返回列表</A> ]</div>
<TABLE cellpadding=3 cellspacing=3 class="add">
<FORM METHOD=POST id="form1" action="__URL__/edit/">
<TR>
	<TD colspan="2"><div id="result" class="result none"></div></TD>
</TR>

<TR>
	<TD class="tRight" >卡号：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeftRequire" NAME="code" value="{$vo.code}"></TD>
</TR>

<TR>
	<TD class="tRight" >密码：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeftRequire" NAME="psw" value="{$vo.psw}"></TD>
</TR>

<TR>
	<TD class="tRight" >状态：</TD>
	<TD class="tLeft" >
	<SELECT class="small bLeft" NAME="status">
	  <option value="1"<eq name="vo.status" value="1">
	  selected = "selected"
	</eq>>已使用</option>
	  <option value="0"<eq name="vo.status" value="0">
	  selected = "selected"
	</eq>>未使用</option>
	</SELECT>
	</TD>
</TR>

<TR>
	<TD></TD>
	<TD>
	<input type="hidden" name="id" value="{$vo.id}" />
	<INPUT TYPE="submit" value="保 存" class="button">
	</TD>
</TR>
</TABLE>
</FORM>
<include file="Public:footer" /> 