<include file="Public:header" />
<div class="menu">
   <a class="back" href="__APP__/Member"><img src="__PUBLIC__/images/menu_back.png"></a>
   <div class="tit">我的钱包</div>
   <a class="btn_mx" href="__APP__/Record"><img src="__PUBLIC__/images/btn_mx.png"></a>
</div>
<div class="menber">
    <div class="wuliu">
       <p class="sg">账户余额</p>
       <em>{$user.balance}</em>
    </div>
    <div class="my_qb">
       <ul>
          <!--<li><a href="__APP__/Wallet/transfer">转账</a></li>-->
          <li><a href="__APP__/Coupon">优惠券</a></li>
       </ul>
    </div>
</div>
<include file="Public:footer" />