<style>
img{cursor:pointer}
.Folders td{text-align:center}
	TD.digg {
		PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; TEXT-ALIGN: left;font-size:12px
	}
	TD.digg A {
		BORDER-RIGHT: #aaaadd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaadd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #aaaadd 1px solid; COLOR: #000099; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaadd 1px solid; TEXT-DECORATION: none
	}
	TD.digg A:hover {
		BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; COLOR: #000; BORDER-BOTTOM: #000099 1px solid
	}
	TD.digg A:active {
		BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; COLOR: #000; BORDER-BOTTOM: #000099 1px solid
	}
	TD.digg SPAN.current {
		BORDER-RIGHT: #000099 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000099 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #000099 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #000099 1px solid; BACKGROUND-COLOR: #000099
	}
	TD.digg SPAN.disabled {
		BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid
	}
    .pagebox_pre_nolink{border:1px #ddd solid; width:53px; height:21px; line-height:21px; text-align:center; color:#999; cursor:default;}
</style>
<script language="javascript">
function upyulan(obj){
  $('#upimg').html("<img src='"+obj.value+"'>");
}
function imgupsave(){
 $('#upform').submit(); 
 //alert($('#upload').attr('id'));
}
</script>
<table>
<!--文件夹信息-->
<tr class="Folders">
	<volist name="aFolders" id="aFolder" mod="6">
	<td><a href="javascript:cp('{$aFolder['dir']}','{$aFolder['vname']}')">
	<neq name="vname" value="$aFolder['vname']"><img src="__ROOT__/Admin/Tpl/default/Public/Images/folder-close.gif" ></neq>
	<eq name="vname" value="$aFolder['vname']"><img src="__ROOT__/Admin/Tpl/default/Public/Images/folder-open.gif" ></eq>	
	{$aFolder['name']}</a>
	<eq name="mod" value="1"><tr class="Folders"></eq>
	</volist>
<tr><td colspan=6>
<!--图片信息-->
 <table>
    <th>图片</th><th>名称</th><th>上传时间</th>
	<volist name="aFiles" id="aFile" key="k">	
	  <tr><td><img src="__ROOT__/{$aFile['img']}" onclick="getimg(this)"></td>
	  <td>{$aFile['name']}</td>
	  <td>{$aFile['ctime']|toDate='Y-m-d'}</td>
	  </tr>
	</volist>
  </table>
{$page}
<div>图片预览:<span id="upimg"></span></div>
<div>
<form action="__URL__/upimg" enctype="multipart/form-data" METHOD="POST"  id="upform" target="iframeUpload">
<iframe name="iframeUpload" src="" width="350" height="35" frameborder=0  SCROLLING="no" style="display:none"></iframe>
文件夹名:{$vname}
<INPUT TYPE="hidden" NAME="fd" value="{$vname}">
图片名:<INPUT  NAME="fn" style="width:50px">
<div>
<input type="file" NAME="img" onchange="upyulan(this)" >
<input type="button" value="图片上传" onclick="imgupsave()">
</div>
</form>
</div>
<div id="showimg">上传图片:</div>
</table>
