<include file="Public:header" />

<!--<FORM   method="post"   ACTION="/user/account/findpwd" id="login"  > -->
	
<FORM METHOD=POST ACTION="" id="binding" onsubmit="return false;">
<div class="menu">
   <a class="back" href="__MODULE__/Member"><img src="__PUBLIC__/images/menu_back.png"></a>
   <div class="tit">绑定手机</div>
</div>
<div class="info minh400">
   <div class="ptxt"><input type="text" name="mobile" id="mobile" class="p_txt" placeholder="请输入手机号码"></div>

   <div class="btxt"><input name="" type="text" value="6-16位密码" class="p_txt" id="tx" /> 
<input name="password" type="password" id="pwd" class="p_txt" style="display:none;" /> 
<script type="text/javascript"> 
var tx = document.getElementById("tx"), pwd = document.getElementById("pwd"); 
tx.onfocus = function(){ 
if(this.value != "6-16位密码") return; 
this.style.display = "none"; 
pwd.style.display = ""; 
pwd.value = ""; 
pwd.focus(); 
} 
pwd.onblur = function(){ 
if(this.value != "") return; 
this.style.display = "none"; 
tx.style.display = ""; 
tx.value = "6-16位密码"; 
} 

function fleshVerify(){
	//重载验证码
	var timenow = new Date().getTime();
	$('#verifyImg').attr('src','__MODULE__/Public/verify?time='+timenow);
}
</script> </div>

   <div class="bbtxt">
       <div class="stxt"><input type="text" class="s_txt" value="请输入手机短信验证码" onFocus="if(value =='请输入手机短信验证码'){ value =''}"onblur="if(value ==''){ value='请输入手机短信验证码' }" name="code" id="code"></div>
       <div class="sstxt" id="show_msg" num="60">发送短信验证码</div>
   </div>   

   <div class="bbtn"><input type="submit" value="绑定" class="i_btn" onclick="send('binding','__URL__/bindingmb');"></div>
   
</div> 
</FORM>
<script> 

$(document).ready(function(){
  $('#show_msg').click(function(){
	 sentmsm('bdmb');
  });
});	

</script>
 
<include file="Public:footer" />