<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FusionCharts Free Documentation</title>
<link rel="stylesheet" href="__PUBLIC__/Js/FusionChartsFree/Contents/Style.css" type="text/css" />
<script language="JavaScript" src="__PUBLIC__/Js/FusionChartsFree/JSClass/FusionCharts.js"></script>
</head>

<body>
<table width="98%" border="0" cellspacing="0" cellpadding="3" align="center">
  <tr> 
    <td valign="top" class="text" align="center"> <div id="chartdiv" align="center"> 
        FusionCharts. </div>
      <script type="text/javascript">
		   var chart = new FusionCharts("__PUBLIC__/Js/FusionChartsFree/Charts/FCF_MSLine.swf", "ChartId", "800", "450");
		   chart.setDataURL("__PUBLIC__/Js/FusionChartsFree/Data/MSLine.xml");		   
		   chart.render("chartdiv");
		</script> </td>
  </tr>
  <tr>
    <td valign="top" class="text" align="center">&nbsp;</td>
  </tr>
</table>
</body>
</html>
